{{define "Base"}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTMX Go App</title>
    <link rel="stylesheet" href="/static/index.css" />
    <script src="/static/htmx.js"></script>
  </head>
  <body>
    <div>
      <h1>{{.Title}}</h1>
      <p class="text-8xl text-cyan-600">Hello People</p>
      <p class="text-8xl ">Hello People</p>
      <p class="text-8xl">Hello People</p>
  </body>
</html>
{{end}}
